<h1>Eat da burger!</h1>

<h2>Burgers waiting to be eaten!</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Previously Enjoyed burgers!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burgers/burger-block devoured = true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Make a new burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Cat Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Eaten?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
  </div>

  <button type="submit">Add Burger</button>
</form>
